In [1]:
import pandas as pd

In [3]:
# read the csv file
df = pd.read_csv('./data/weekly_stock_market.csv')

In [4]:
df

,companyName,date,openingPrice,highestPrice,lowerPrice,closingPrice,volume
0,SOTUMAG,16/06/2014,1.76,1.80,1.73,1.73,44315
1,SOTUMAG,23/06/2014,1.78,1.82,1.77,1.82,9551
2,SOTUMAG,30/06/2014,1.81,1.82,1.81,1.81,2401
3,SOTUMAG,07/07/2014,1.78,1.82,1.78,1.80,10341
4,SOTUMAG,14/07/2014,1.83,1.83,1.76,1.81,27480
...,...,...,...,...,...,...,...
38631,SOMOCER,13/05/2024,0.52,0.52,0.46,0.50,303723
38632,SOMOCER,20/05/2024,0.50,0.56,0.48,0.56,273669
38633,SOMOCER,27/05/2024,0.56,0.57,0.50,0.54,280329
38634,SOMOCER,03/06/2024,0.53,0.55,0.49,0.50,198640
38635,SOMOCER,10/06/2024,0.50,0.51,0.49,0.50,113439

# Check the DataFrame
*-  if closingPrice < lowerPrice then delete the row*<br>
*-  if openingPrice > highestPrice then delete the row*<br>
*-  if closingPrice > highestPrice then delete the row*<br>
*-  if openingPrice < lowerPrice then delete the row*<br>

In [6]:
df = df[~((df['closingPrice'] < df['lowerPrice']) | 
           (df['openingPrice'] > df['highestPrice']) |
           (df['closingPrice'] > df['highestPrice']) |
           (df['openingPrice'] < df['lowerPrice']))]
df

,companyName,date,openingPrice,highestPrice,lowerPrice,closingPrice,volume
0,SOTUMAG,16/06/2014,1.76,1.80,1.73,1.73,44315
1,SOTUMAG,23/06/2014,1.78,1.82,1.77,1.82,9551
2,SOTUMAG,30/06/2014,1.81,1.82,1.81,1.81,2401
3,SOTUMAG,07/07/2014,1.78,1.82,1.78,1.80,10341
4,SOTUMAG,14/07/2014,1.83,1.83,1.76,1.81,27480
...,...,...,...,...,...,...,...
38631,SOMOCER,13/05/2024,0.52,0.52,0.46,0.50,303723
38632,SOMOCER,20/05/2024,0.50,0.56,0.48,0.56,273669
38633,SOMOCER,27/05/2024,0.56,0.57,0.50,0.54,280329
38634,SOMOCER,03/06/2024,0.53,0.55,0.49,0.50,198640
38635,SOMOCER,10/06/2024,0.50,0.51,0.49,0.50,113439

`=> The DataFrame is checked because there are no deleted rows.`